---
layout: default
---

<head>
  <script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://enormousness.monster/',
                     discourseEmbedUrl: 'http://enormousness.net' + window.location.pathname };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
</head>

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-author">{{ page.author }}</p>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% assign RELATED_POSTS_THRESHOLD = 5 %}

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related recipes</h3>
  <ul class="related-posts">
    {% assign related_post_count = 0 %}
    {% for post in site.related_posts %}
      {% if related_post_count == RELATED_POSTS_THRESHOLD %}
        {% break %}
      {% endif %}
      {% for tag in post.tags %}
        {% if page.tags contains tag %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.author }}</small> - 
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
          </li>
          {% assign related_post_count = related_post_count | plus: 1 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</aside>
{% endif %}

<div id='discourse-comments'></div>
